SSE_SERVER_VER=a5fd70f03424bd570151c1de3a3f9e36c2c1dc0d
SSE_SERVER_DJANGO_LOGLEVEL=DEBUG
SSE_SERVER_TA_SERVER=http://ta:8000/api/v1/search/
SSE_SERVER_DB_NAME=ssedb
SSE_SERVER_DB_USER=sseadmin
SSE_SERVER_DB_PASSWORD=sseadmin
SSE_SERVER_DB_HOST=sse-db
SSE_SERVER_DB_PORT=5432
SSE_SERVER_ALLOWED_HOSTS=['*']

TA_VER=503c5880533fe1a8f5cabd94e7aa3ce5ffb7543d
TA_DJANGO_LOGLEVEL=DEBUG
TA_DB_NAME=tadb
TA_DB_USER=taadmin
TA_DB_PASSWORD=taadmin
TA_DB_HOST=ta-db
TA_DB_PORT=5432
TA_ALLOWED_HOSTS=['*']
# TA_HASH_LENGTH=256
# TA_KEY_G=123
# TA_SALT=abc123!?
# TA_IV=abcdefg

SSE_CLIENT_VER=12d0babd9ded17ea5fdee4fbe859f7f9d388426c
SSE_CLIENT_TA_URL=http://localhost:8000
SSE_CLIENT_SSE_URL=http://localhost:8080
SSE_CLIENT_SALT_VALUE=abc123!?
SSE_CLIENT_IV_VALUE=abcdefg
